[Unit]
Description=Syncthing - file synchronization
Documentation=man:syncthing(1)
After=network.target

[Service]
ExecStart=%h/.local/bin/syncthing serve --no-browser --no-restart --logflags=0
Restart=on-failure
RestartSec=5
SuccessExitStatus=3 4

[Install]
WantedBy=default.target
